/* =================================
============= deafult css=================
====================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
}



/* =================================
============= deafult classes=================
====================================*/
.container{
    max-width: 1240px;
    margin: auto;
}


.half-width{
    width: 48%;
   margin: auto;
}

.btn-red {
    text-decoration: none;
    color: #fff;
    background: red;
    padding: 10px 25px;
    margin: 20px 0;
    display: inline-block;
    transition: .6s;
}
.btn-red:hover{
    background: #000;
}
.mx-50{
    margin: 50px auto;
}
.content {
    width: 80%;
    margin: auto;
}
/* =================================
============= Header css =================
====================================*/
 
   .banner{
    background: linear-gradient(47deg, rgba(246,99,20,1) 0%, rgba(115,142,215,1) 13%, rgba(43,43,209,1) 40%, rgba(8,27,133,1) 50%, rgba(88,95,235,1) 75%, rgba(198,95,4,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 30px;
    display: flex;
    color: #fff;

   } 


   .content h1 {
    font-size: 3.37rem;
    margin-bottom: 8px;
}

/* ===============
================= Main match css ===========
====================================== */
.live-match {
    display: grid;
    grid-template-columns: 260px auto;
}
aside.menu {
    background: #000;
    padding: 30px 0;
    height: 244px;
    border-radius: 10px;
   
    margin-right: 21px;
}
.menu-buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 16px;
    text-align: center;
}
aside .btn {
    margin: 5px 0;
}

a.btn.active {
    background: red;
    border: none;
    color: #fff;
}
/* asside end */
.btn{
    text-decoration: none;
    color: #000;
    background: #fff;
    padding: 10px 25px;
    margin: 20px 0;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid lightgray;
    transition: .6s;
}
.btn:hover{
background-color: #000;
color: #fff;
}

article.matches {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.match {
    
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 20px;
}
.icons {
    display: flex;
   
    margin-top: 20px;
}

.icon {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 10px;
}

.icon img{
    width: 24px;
    height: 24px;
}







/* ===============


================= footer css ===========
====================================== */

#footer {
    background: #000;
    color: #fff;
    
    padding: 41px;
}

#footer .content h1{
    text-align: center;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.menu-list a {
    text-decoration: none;
    color: #fff;
    padding: 0 25px;
}

.social-links {
    text-align: center;
    margin-top: 30px;
}

.social-links a {
    font-size: 25px;
    padding: 14px;
    color: #fff;
   
}